*{
    box-sizing: border-box;
}

body{
    background-color:white;
    display: flex;
    flex-direction: column;
}


header{
    color: orangered;
    margin: auto;
    margin-top: 100px;
}

#main-box {
    margin: 50px auto;
    height: 400px;
    width: 50%;    
    display: flex;
    -webkit-box-shadow: -2px 2px 8px 3px rgba(0,0,0,0.25); 
    box-shadow: -2px 2px 8px 3px rgba(0,0,0,0.25);
    border-radius: 5%;
}

#left {
    background-color: #faa41a;
    width:50%;
    height: 100%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    display: flex;
    flex-direction: column;
}

#text {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right {
    background-color: #232323;
    color: white;
    width: 50%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    font-size: 30px;
    font-family: 'Average Sans', sans-serif;
    padding: 25px;
}

.money {
    background-color: white;
    color: #232323;;
    border-radius: 10%;
    padding: 0% 5%;
    float: right;
    -webkit-box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.35); 
    box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.35);
}

.input{
    width: 100%;
    margin-left: 9%;
    margin-right: 9%;
    border: none;
    border-radius: 3%;
    height:20%;
    text-align: center;
    appearance: none;
    -webkit-box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.35); 
    box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.35);
}

button{
    width: 18%;
    margin-bottom: 10%;
    height: 40%;
    font-weight: bold;
    font-size: larger;
    border-radius: 10%;
    border: none;
    font-family: 'Noto Sans Display', sans-serif;
    -webkit-box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.35); 
    box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.35);
}

button:hover {
    cursor:pointer;
}

button:active {
    background-color: rgb(23,23,23);
    color: aliceblue;
}

#buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

footer {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    margin-top: 10.5%;
    text-align: center;
}

.ffirst{
    margin-left: 8%;
    margin-right: 3%;
}

.flast{
    margin-right: 8%;
    margin-left: 3%;
}

.sfirst{
    margin-left: 8%;
    margin-right: 3%;
}

.custom{
    height: 40%;
    width: 18%;
    text-align: center;
    background-color: aliceblue;
    font-size: large;
    border-radius: 10%;
    border-style: none;
    margin-right: 8%;
    margin-left: 3%;
    margin-bottom: 10%;
    -webkit-box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.35); 
    box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.35);
}

.reset {
    height: auto;   
    width: 100%; 
    font-family: 'Average Sans', sans-serif ;
    font-size: 25px;
    float: right;
    margin-top: 25px;
    border-radius: 3%;
}
